/* This first section makes the whole document have no white edges in the corner and gives the whole page structure */
*
{
margin: 0;
padding: 0;
box-sizing: border-box; 
 }

/* This section has the color and font of the whole form */
body {font-family: Courier; color: #808080; background-color: #fcebd1; }
 
/* This section customizes the bigger div section (header + Contactform) */
  .main {
position: relative;
background: #786241; 
  }

  .checked {
    color: red;
  }
  .lbutton{
    border-color: red;
    background-color: #fcebd1;
    color: red;
    cursor: pointer;
    border-radius: 2px;
    top: 15%;
    left: 5%;
    margin: 2%;
   
   } 
   .NRK_logo{
     right:50%;
   }
   .rbutton{
     border-color: red;
     background-color: #fcebd1;
     color: red;
     cursor: pointer;
     border-radius: 2px;
     border-radius: 2px;
     top: 15%;
     left: 25%;
     margin: 2%;
    } 