/* This first section makes the whole document have no white edges in the corner and gives the whole page structure */
*
{
margin: 0;
padding: 0;
}

/* This section has the color and font of the whole form */
body {font-family: Courier; color: #808080; background-color: #fcebd1; }

.header_admin{
  position:absolute;
  top: 3%;
  left: 96%;
 }

.header {
  background-color: #fcebd1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1%; 
  
}
.a {
  text-decoration:none;
  color:red;
}
.a:hover {
  color: white;
}

.button {
    background-color: #fcebd1;
    font-weight: bold;
    color: red;
    border-color: red;
    border-width: 1px;
    padding: 8px 15px;
    cursor: pointer;
    position:relative; 
    
  }
    /* This makes the buttons solid and a difffernt color upon the hover of a mouse */
    .button:hover {
      background-color: red;
      color: white;
    }
.body_components {
  display: flex;
  background-color: #fcebd1;
  align-items: flex-start;
  margin: 1%;
 

}
  .social_media {
    background-color: #fcebd1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    margin-left: 1%;
    margin-top: 12%;
  }

  .wrapper{
    background-color: #fcebd1;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 600px;
    width: 700px;
  } 
  .side_slogan {
    background-color: #fcebd1;
    height: 450px;
    width: 50px;
    margin-right: 8%;
    height: 700px;

  }
  p1 {
    writing-mode: vertical-rl;
    color: red;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size:80px;

  }

.reviews {
  background-color: #fcebd1;
  margin: 1%;
  margin-left: 5%;
  margin-right: 20%;
}
  .checked {
    color: red;
  }
 .written_comment{
  margin-left: 13.5%;
 }
 .name_and_stars {
  margin-left: 2%;
 }

 .customer_section{
  background-color: #f4dab4;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin-top: 2%;
  height: 150px;
 }
.email1 {
   position: relative;
   left: 11%;
}
